
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  {% if user.is_authenticated %}
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'edit:add' %}">Add Post</a>
        </li>
        {% endif %}
        {% if not user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
          </a>
          <ul class="dropdown-menu">
              {% for place in links %}
            <li><a class="dropdown-item" href="{% url 'rent:property_detail' place=place %}">{{place}}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
       <form class="d-flex" role="search" action="{% url 'rent:searchresult' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search by place" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="d-flex justify-content-end">
    <form class="d-flex" action="{% url 'login:logout' %}" method="get" >
      <button class="btn btn-primary" style="margin-left: 10px;" type="submit">logout</button>
    </form>
      </div>


    </div>
  </div>
  {% else %}
<div class="container-fluid">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
  </ul>
     <!-- Center the MovieZone heading -->
  <div class="d-flex justify-content-end">
    <form class="d-flex" action="{% url 'login:login' %}" method="get" >
      <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
    <form class="d-flex" action="{% url 'login:register' %}" method="get" style="margin-left: 10px;">
      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
  </div>
</div>
  {% endif %}
</nav>
