<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{user/profileBase}">

<head>
    <title>Profile Info</title>
<link rel="stylesheet" href="/css/editProfile.css">

</head>

<body>

<section layout:fragment="profilecontent">
<div class="container mt-5">
    <div class="card shadow rounded">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Change Password</h5>
        </div>
        <div class="card-body">
            <form th:action="@{/user/updatePassword}" th:object="${passwordForm}" method="post">
                <div class="form-group mb-3">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" th:field="*{currentPassword}" class="form-control"
                           th:classappend="${#fields.hasErrors('currentPassword')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:errors="*{currentPassword}">Current password error</div>
                </div>

                <div class="form-group mb-3">
                    <label for="newPassword">New Password</label>
                    <input type="password" th:field="*{newPassword}" class="form-control"
                           th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:errors="*{newPassword}">New password error</div>
                </div>

                <div class="form-group mb-4">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" th:field="*{confirmNewPassword}" class="form-control"
                           th:classappend="${#fields.hasErrors('confirmNewPassword')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:errors="*{confirmNewPassword}">Confirm password error</div>
                </div>
                <div class="d-flex gap-3 justify-content-center">
                 <a href="/user/view-profile" class="btn btn-outline-dark">Cancel</a>
					
                <button type="submit" class="btn btn-success">Change Password</button>
                
                </div>
					   
            </form>
        </div>
    </div>
</div>




</section>

</body>
</html>